/* Menu */
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  z-index: 2;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.menu li {
  display: inline-block;
}

.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu li a:hover {
  background-color: #111;
}

/* Fundo Verde com Logo */
.green-background {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: green;
  padding-left: 10px;
  box-sizing: border-box;
  margin: 0;
  position: relative; /* Adiciona posição relativa para a imagem ficar posicionada dentro */
}

.logo-img {
  max-height: 80%; /* Ajuste conforme necessário */
  position: absolute;
  left: 10px; /* Ajuste a posição do logo */
  top: 50%; /* Alinha verticalmente ao meio da green-background */
  transform: translateY(-50%); /* Centraliza verticalmente com base no topo */
}

/* Outros estilos que já possui */
.container {
  width: 100%;
  margin: 0 auto;
}

.content {
  padding: 20px; /* Adiciona espaçamento ao redor do conteúdo principal */
}

.footer {
  text-align: center;
  margin-top: 20px;
}
